# Node.js

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript

dist/
build/
*.tsbuildinfo

# Prisma
.prisma/
.env
.env.local
.env.*.local

# Logs

logs/
*.log
*.log.*

# IDEs e Sistemas Operacionais
.DS_Store
.vscode/
.idea/
*.swp
*.swo
Thumbs.db

# Testes
coverage/
*.lcov
/src/generated/prisma
